<div class="jumbotron" ng-controller="NumericToRomanCtrl">
  <div>
    <converted-results-directive class="pad"></converted-results-directive>
  </div>

  <div class="displayContainer">
      <numeric-calculator numeric-display
             class="typeNumber"
             placeholder="0"/>
  </div>

  <div class="container keypadContainer">
    <div class="row">
      <numeric-calculator numeric-keypad-directive="" class="col-sm-10"></numeric-calculator>
      <numeric-calculator function-keypad-directive class="col-sm-2"></numeric-calculator>
    </div>
  </div>
</div>

