<div class="jumbotron" ng-controller="NumericToRomanCtrl">
  <div >
    <converted-results-directive class="pad"></converted-results-directive>
  </div>

  <div class="displayContainer">
    <div class="pad">
      <numeric-calculator  numeric-display
             class="typeNumber"
             placeholder="0"/>
    </div>
  </div>

  <div class="container keypadContainer">
    <div class="row">
      <numeric-calculator keypad-directive class="col-sm-10">Numeric</numeric-calculator>
      <numeric-calculator function-keypad-directive class="col-sm-2"></numeric-calculator>
    </div>
  </div>
</div>

