<div class="jumbotron" ng-controller="RomanToNumericCtrl">
  <div >
    <converted-results-directive class="pad"></converted-results-directive>
  </div>

  <div class="displayContainer">
    <div class="pad">
      <roman-calculator roman-display
                           class="typeNumber"
                           placeholder="0"/>
    </div>
  </div>

  <div class="container keypadContainer">
    <div class="row">
      <roman-calculator roman-keypad-directive class="col-sm-10"></roman-calculator>
      <roman-calculator roman-function-keypad-directive class="col-sm-2"></roman-calculator>
    </div>
  </div>
</div>

