<div class="container" style="width: 400px">


  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">
        1
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel">
        2
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel">
        3
      </button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel">
        4
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
        5
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
        6
      </button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
        7
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
        8
      </button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
        9
      </button>
    </div>
  </div>

  <div class="row keypad-row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btnRoman"
              ng-model="singleModel"
              uib-btn-checkbox
              btn-checkbox-true="1"
              btn-checkbox-false="0">
       Clear
      </button>
    </div>
  </div>

</div>
