<div class="container keypad-container">
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='1'
              ng-click="handleKeypadInput($event)">1</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='2'
              ng-click="handleKeypadInput($event)">2</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='3'
              ng-click="handleKeypadInput($event)">3</button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='4'
              ng-click="handleKeypadInput($event)">4</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='5'
              ng-click="handleKeypadInput($event)">5</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='6'
              ng-click="handleKeypadInput($event)">6</button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='7'
              ng-click="handleKeypadInput($event)">7</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='8'
              ng-click="handleKeypadInput($event)">8</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='9'
              ng-click="handleKeypadInput($event)">9</button>
    </div>
  </div>

  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='clear'
              ng-click="handleKeypadClear()">Clear</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman" value='0'
              ng-click="handleKeypadInput($event)">0</button>
    </div>

  </div>

</div>
