<div class="container" style="width: 400px">
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">I</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">II</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">III</button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">V</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">X</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">L</button>
    </div>
  </div>
  <div class="row keypad-row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">C</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">D</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btnRoman">M</button>
    </div>
  </div>

  <div class="row keypad-row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btnRoman">Clear</button>
    </div>
  </div>

</div>
